<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Tampilkan Data</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>My Data</h1>
        <hr>
        <table border="1">
            <tr th:each="terimadata:${perkakas}">
                <td th:text="${terimadata[0]}"></td>
                <td th:text="${terimadata[1]}"></td>
            </tr>
        </table>
    </body>
</html>
