<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>View Penjumlahan</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Aritmatika</div>
        <hr>
        <p>Matematika aritmatika diawali dengan penjumlahan, kemudian dilanjutkan 
        konsep pengurangan, perkalian, pembagian. Contoh : </p>
    <l th:text="${angka1} "></l> + <l th:text="${angka2} "></l> = <l th:text="${hasil} "></l>
    </body>
</html>
